// @import '../../_colors.less';
// @import "_colors";

.app-bar-container {
  height: 64px;
  margin: 0 1rem;
  width: 100%;

  .nav {
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    * {
      color: white o !important
    };
  }

  .divider {
    margin: 0 1rem 0 0.5rem;
  }

  .menu-link {
    border-bottom: 1px solid transparent;
    line-height: 32px;
  }
  .menu-button {
    width: 142px;
    display: flex;
  }
  
  .burger {
    font-size: 32px;
    z-index: 6;

  }

  .logo {
    height: 64px;
    width: auto;
  }
}
.App-Bar {
  padding: 0px;
  justify-content: space-between !important;
  background-color: #2b2b2b !important;
}

.app-bar-box {
  background: #121212;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 8px 10px;
  height: 64px;
}

.app-left {
  padding: 8px 10px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  padding: 10px 14px 10px 6px;

  margin-bottom: 0px;
}

.app-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  border-width: 0px;
}

.app-bar-inner {
  display: flex;
  min-width: 50%;
  justify-content: center;
  position: relative;
  height: auto;
  .app-bar-item {
    cursor: pointer;
    padding: 0 30px;
    // color: @tungsten-60;
    font-size: 18px;
    a {
      color: inherit;
    }
    &.active {
      color: white;
    }
  }
}


