.app-bar-wrapper {
  max-width: 1400px;
  padding: 0 @content-padding;
  margin: 2rem auto 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media screen and (max-width: 1400px) {
  //   padding: 0 2rem;
  // }
}

.main-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 1.75rem;

  @media (max-width: 800px) {
    margin-top: 0.3rem;
    justify-content: center;
    width: auto;

    &.secondary {
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 450px) {
    margin-top: 0.5rem;
  }
}

.main-menu-item {
  font-size: 0.9rem;
  color: @theme-color-text;
  line-height: 1;
  transition: ease all 0.07s;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: -1px;
  border-bottom: 2px solid transparent;
  opacity: 0.8;

  &:hover {
    color: @theme-color-text;
    opacity: 0.9;
  }
  &.active {
    border-bottom: 2px solid @theme-neutral-gray;
    opacity: 1;
  }
  &:active {
    opacity: 0.7;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.main-right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    width: 100%;
  }
}
