node_modules/
.anchor
**/*.rs.bk
build/
rust/test/nft-candy-machine.js
dist/
lib/
deploy/
venv/
js/packages/cli/assets/
docs/lockup-ui/
.DS_Store
*~
.idea
.yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.css
*.css.map
!js/packages/metaplex/src/fonts/fonts.css
!js/packages/metaplex/src/utils/globals.css
js/.eslintcache
target
.env
.vscode
bin
config.json
node_modules
./package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
**/.DS_Store
.cache
js/packages/web/.env
js/packages/candy-machine-ui/.env
traits
traits-configuration.json
js/packages/cli/test/assets
