.ant-scrolling-effect #root > .ant-layout {
  filter: blur(10px) brightness(0.5);
}
.ant-modal-content {
  border-radius: 16px !important;
}
.ant-modal-body {
  border-radius: 10px;
}

.ant-modal-close-x {
  color: white;
}

.ant-btn {
  border-radius: 5px !important;
}
