// This file contains patches to the antd stylesheet specifically for themed colors

.ant-switch-checked .ant-switch-inner {
  color: @theme-text-accent;
}

.ant-typography.ant-typography-secondary,
.ant-select-single.ant-select-open .ant-select-selection-item {
  color: @theme-text-faint;
}

.ant-btn-primary[disabled],
.ant-pagination-disabled .ant-pagination-item-link {
  &,
  &:hover,
  &:focus,
  &:active {
    color: @theme-text-faint;
    stroke: @theme-text-faint;
  }
}

.ant-divider,
.ant-card-head,
.ant-card-bordered,
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  border-color: @theme-border;
}

.ant-select-item {
  transition-property: background, color;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background: @theme-accent-bold;
  color: @theme-text-accent;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: @theme-accent;
  color: @theme-text-accent;
  font-weight: inherit;
}

.ant-progress-circle-trail {
  stroke: @theme-text;
  opacity: 0.1;
}