@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  @apply text-white bg-black;
}

::selection {
  @apply text-white bg-black;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-base text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
}
