// Default ant design variables
@import '~antd/lib/style/themes/dark.less';

// Ant Design config
// TODO: put Ant Design headers here

// Other config
@content-padding: 32px;
@content-max-width: 1440px;
@loading-background: rgba(black, 0.1);
@loading-filter: @overlay-filter;
@overlay-filter: blur(32px);
@masonry-gutter: 32px;

// Dependency stylesheets
@import '~antd/dist/antd.less';
@import '@oyster/common/styles.css';

// Global styles for web
@import './styles.less';

// Component styles for web
@import '../components/AppBar/styles.less';
@import '../components/ArtContent/styles.less';
@import '../components/Banner/styles.less';
@import '../components/Confetti/styles.less';
@import '../components/Layout/styles.less';
@import '../components/Loader/styles.less';
@import '../components/MetaplexMasonry/styles.less';
