.metaplex-masonry {
  display: flex;
  width: auto;
  margin: 0 auto;
}

.metaplex-masonry-column {
  &:not(:first-child) {
    padding-left: @masonry-gutter;
  }

  > :not(:last-child) {
    display: block; // TODO: stupid, result of problems elsewhere, should be removed eventually
    margin-bottom: @masonry-gutter;
  }
}
