
* {
  font-family: 'GraphikWeb';
}

p {
  margin: 0;
}

.ant-btn {
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent !important;
  color: white;
  box-shadow: none;
  &.secondary-btn {
    color: @black-100;
    background: @metaplex-primary-color !important;
    border-color: @metaplex-primary-color !important;
    box-shadow: 0px 0px 24px rgba(26, 26, 26, 0.12);
    border-radius: 8px;
    width: fit-content;

    &:hover,
    &:focus {
      background: transparent !important;
      border-color: @metaplex-primary-color !important;
      color: @metaplex-primary-color !important;
    }

    &:disabled,
    &:disabled &:hover {
      color: rgba(255, 255, 255, 0.5) !important;
      background: #1e1e1e !important;
      border: none;
    }
  }

  &.black-btn {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    width: fit-content;

    &:hover,
    &:focus {
      background: transparent;
      border-color: rgba(255, 255, 255, 0.05);
      color: #ffffff;
    }
  }
}

.metaplex-button {
  display: flex;
  justify-content: center;
  height: 56px;
  width: auto;
  max-width: 100%;
  align-items: center;
  border-radius: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  /* identical to box height, or 100% */
  letter-spacing: -0.01em;
  /* White */
  color: #FFFFFF;
  &.w100{
    width: 100%;
  }
}

.modal-box {
  position: relative;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #2A2A2A;
  cursor: auto;
  padding-bottom: 0px;
  .ant-modal-footer {
    border-top: 0;
  }
  .ant-input {
    border: 1px solid rgba(255,255,255,0.2);
  }

  @media (max-width: 768px) {
    width: 100% !important;
    top:0 !important;
    max-width: 100% !important;
    .ant-modal-content{
      min-height: 100vh;
    }
    .mobile-menu-modal{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80vh;
      .actions{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        .actions-buttons{
          display: flex;
          width: 100%;
          button{
            flex: auto;
          }
        }
        .actions-user{
          margin-top: 10px;

          a{
            display: flex;
            flex: 1;
            padding: 5px;
          }
        }
        .ant-badge{
          margin-top: 25px;
        }
      }
      .ant-dropdown-menu{
        background-color: transparent !important;
      }
      .app-btn{
        background-color: transparent !important;
      }
      .ant-menu{
        width: 100%;
        background-color: transparent !important;
        border-right: 0 !important;
        .ant-menu-item{
          border-bottom: 1px solid #f0f0f0 !important;
          padding: 0;
          .app-btn{
            font-size: 18px;
            font-weight: 600;
            padding: 0 0 24px;
          }
        }
      }
      .current-user-mobile-badge{
        width: 100%;
        .mobile-badge{
          display: flex;
        }
        .balance-container{
          width: 100%;
          margin-top: 10px;
          border-radius: 12px;
          margin-bottom: 10px;
          height: 50px;
          display: flex;
          font-weight: 700;
          flex-direction: column;
          .balance-title{
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.7);
          }
          .sol-img-wrapper{
            border-radius: 50%;
            background: black;
            display: inline-block;
            padding: 1px 4px 4px 4px;
            line-height: 1;
          }
        }
      }
    }
  }

  .ant-modal-content {
    background: @table-bg-color;
    border-radius: 12px;
  }

  .ant-modal-header {
    border-bottom: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 28px 24px 28px 24px;
    background-color: transparent !important;
    color: white !important;
    .ant-modal-title {
      color: white;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .ant-modal-close-x {

    width: fit-content;
    height: fit-content;
    margin-right: 24px;
    margin-top: 8px;
  }

  .ant-modal-body {
    background: rgba(255, 255, 255, 0.05) !important;
    border-radius: 12px;
    padding: 48px;
    @media (max-width: 768px) {
      padding: 30px;
      min-height: 90vh !important;
    }
    .ant-card {
      background: transparent;
      border: 0;
      height: 476px;
      .ant-card-cover {
        border-radius: 12px;
        .card-cover {
          //background: rgba(255, 255, 255, 0.1);
          height: 200px;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: auto;
            height: 100%;
            border-radius: 12px;
          }
        }
      }

      .body-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 12px;
        color: white;
      }

      .body-content {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.7)
      }

      .ant-card-body {
        display: flex;
        flex-direction: column;

        > :last-child {
          &.line {
            width: 100%;
          }
          position: absolute;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          bottom: 0;
          position: absolute;
          right: 0;
        }

        .button-container {
          display: flex;
          justify-content: flex-end;

          .modal-button-buy {
            position: absolute;
            margin-top: 40px;
            height: 48px;
            width: 156px;
            right: 0;
            bottom: 8px;
            background: #B388F5;
            box-shadow: 0px 0px 24px rgba(26, 26, 26, 0.12);
            border-radius: 8px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px
          }
        }
      }
    }
  }
}

.connector {
  color: #121212;
  border-color: #121212;
  background: @primary-color !important;
  box-shadow: 0 0 24px rgba(26, 26, 26, 0.12);
  border-radius: 8px;
  padding: 24px 40px;
  span {
    font-family: 'Montserrat' !important;
    font-size: 24px;
  }
  height: fit-content;

  &:hover, &:focus {
    background: transparent !important;
    border-color: @primary-color;
    color: @primary-color;
  }
}

.stack > * {
  margin-bottom: 30px;
}

#transfer-options-collapse {
  .ant-collapse-header {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .ant-collapse-item-active .ant-collapse-header {
    padding-bottom: 20px;
  }
}

.action-field {
  display: flex;
  flex-direction: column;
  text-align: left;

  .field-title {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 8px;
  }

  .field-info {
    text-align: left;

    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
  }

  margin-bottom: 20px;
}

.arweave-upload {
  // lol
  .ant-table {
    background: @bg-color;
  }
  .ant-table-container table {
    > thead {
      > tr:first-child th:first-child {
        border-top-left-radius: 10px;
      }
      > tr:first-child th:last-child {
        border-top-right-radius: 10px;
      }
    }

    > tbody {
      > tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
      }
      > tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
      }
    }
  }

  .ant-table-thead > tr > th {
    background: @table-bg-color;
  }

  .ant-table-tbody > tr > td {
    background: @table-bg-color;
  }

  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    // background: #6B6E70;
    background: @table-bg-color;

    .anticon {
      color: @primary-color;
    }
  }


  .anticon {
    color: #8458B3;
  }

  > textarea {
    resize: none,
  }

  .ant-input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-color: rgba(255, 255, 255, 0.2);
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 1px !important;
  }

  .ant-input:focus, input:focus {
    border-color: @primary-color;

    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 2px !important;

    outline: none;
    box-shadow: none;
  }

  .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content {
    .ant-input:focus.no-outline-on-error {
      border-top-width: 0px !important;
      border-left-width: 0px !important;
      border-right-width: 0px !important;
      border-bottom-width: 2px !important;

      outline: none;
      box-shadow: none;
    }
  }

  #fund-bundlr {
    display: inline;
    width: inherit;
    padding-top: 0;
    padding-bottom: 0;
    height: 22px;
    border: none;
    background-color: @table-bg-color !important;
    border-radius: 48px;
    color: @primary-color;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.modal-input-field {
  width: 100%;
  background: #242424;
  border-radius: 12px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.fullAspectRatio > img {
  object-fit: cover;
  aspect-ratio: 1 / 1,
}

.arweave-upload {
  .ant-upload {
    width: 100%;
  }
  .ant-btn {
    width: 100%;
    border-radius: 10px;
  }
  .ant-upload-list-item {
    border-radius: 10px;
  }

  .ant-input-lg {
    font-size: 14px;
  }
}

.fund-modal-btn.ant-btn {
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-color: @grey-30;
}

.fund-modal-btn.ant-btn:hover {
  border-color: inherit;
}

#additional-options, #royalties-creators {
  .ant-collapse {
    > .ant-collapse-item > .ant-collapse-header {
      padding: 8px 0px 8px;
    }
    > .ant-collapse-item-active > .ant-collapse-header {
      padding: 8px 0px 20px;
    }
  }
}
