.pack-create-wrapper {
  display: flex;

  .content-wrapper {
    flex: 1;
    padding: 0 48px;
  }
}

@import './components/AdjustQuantitiesStep/index.less';
@import './components/ReviewAndMintStep/index.less';
@import './components/Header/index.less';
@import './components/Sidebar/index.less';
@import './components/ItemRow/index.less';
@import './components/SelectCard/index.less';
