// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @extend %w-100;
  @extend %h-100;
  @extend %of-hidden;
  background: $body-color;

  .preloader-inner {
    @extend %p-abs;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .preloader-icon {
      width: 72px;
      height: 72px;
      @extend %d-inline-block;
      @extend %p-0;

      span {
        @extend %p-abs;
        @extend %d-inline-block;
        width: 72px;
        height: 72px;
        border-radius: 100%;
        background: $theme-color;
        -webkit-animation: preloader-fx 1.6s linear infinite;
        animation: preloader-fx 1.6s linear infinite;

        &:last-child {
          animation-delay: -0.8s;
          -webkit-animation-delay: -0.8s;
        }
      }
    }
  }
}


@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}