/* top sec starts */

#market-sec {
  margin: 0px auto;
  padding: 0;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

#market-sec h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32.44px;
  line-height: 48px;
  letter-spacing: -0.017em;
  color: #fff;
}

#market-sec .btn-group .btn-secondary {
  background: #282f3f;
  border: 0.4px solid #bababa;
  box-sizing: border-box;
}

#market-sec .card {
  background: #282f3f;
}

#market-sec .card .fa-search {
  font-size: 20px;
  padding: 5px;
  color: #cccccc;
}

#market-sec .card .form-control {
  background: #282f3f;
  border: 0px solid red;
  color: white;
  background-color: #2B3A6A !important;
  box-shadow: none;
}

.container-fluid {
  .container-img {
    width: 100px;
    border-radius: 50%;
  }
}

.refresh-button {
  font-size: 25px;
  padding: 0px 10px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #2B3A6A;
  cursor: pointer;
  width: 50px;
  margin: 0 0 0 auto;
}

.exchange-white {
  width: 40px;
}

.justify-content-between {
  h3 {
    color: #ffffff;
  }
}

.spinner-border {
  color: #851cef;
  margin: 0 auto;
  width: 4rem !important;
  height: 4rem !important;
  font-size: 20px !important;
}

.paginateLoadBottom {
  margin-top: auto !important;
  margin-bottom: 0 !important;
  padding-top: 3rem;
  justify-content: center;
}

#market-sec .page-item .page-link {
  background: #282f3f;
  border-color: #282f3f;
  color: #ccc;
  padding: 12px 15px;
  font-size: 14px;
}

#market-sec .page-item.active .page-link {
  background: #282f3f;
  border-color: #851cef !important;
  color: #851cef !important;
}

#market-sec .dropdown .btn-secondary {
  background: #282f3f;
  border-color: #282f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 15px;
  color: #ccc;
  height: 100%;
}

.pagination {
  width: fit-content;
  background-color: #282f3f;
  padding: 0 !important;
  color: #ffffff;
  margin: 0 auto;
  height: 37px;
}

.pagination ul {
  display: flex;
  padding: 0 !important;
  width: 100%;
}

.pagination ul li {
  width: 40px;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.pagination ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pagination ul .selected {
  align-items: center;
  text-align: center;
  border: 1px solid #851cef;
  color: #851cef;
}

#market-sec .btn-sales {
  background: #282f3f;
  border-color: #851cef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 15px;
  color: #ccc;
}

.blur-bg1 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  top: 0px;
  z-index: -1;
  background: #851cef;
  filter: blur(200px);
  right: -100px;
}

.blur-bg2 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  bottom: 0px;
  background: #851cef;
  filter: blur(200px);
  z-index: -1;
  left: -100px;
}

.cubic-blur1 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  bottom: 0px;
  filter: blur(20px);
  z-index: -1;
  right: -100px;
}

.cubic-blur2 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  left: -100px;
  filter: blur(20px);
  z-index: -1;
}

#body-sec .page-item .page-link {
  background: #282f3f;
  border-color: #282f3f;
  color: #ccc;
  padding: 12px 15px;
  font-size: 14px;
}

#body-sec .page-item.active .page-link {
  background: #282f3f;
  border-color: #851cef !important;
  color: #851cef !important;
}

.emptyMarketplace {
  margin: 0 auto;
  margin-top: 60px;
  font-weight: 600;
  font-size: 40px;
  color: #851cef;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.data_decription {
  display: flex;
  justify-content: center;

}

.descrition_buttons {
  button {
    width: 120px;
  }

  strong {
    color: white,
  }
}

.descrition_buttons {
  margin-bottom: 4px !important;
}

.name {
  margin-bottom: 0 !important;
}

.data_description_buttons {
  background: #2B3A6A;
  border-radius: 10px;
  border: 0.75px solid rgba(255, 255, 255, 0.41);
  box-sizing: border-box;
}

#market-sec .container-fluid {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 60px;
}

#market-sec .container-fluid .account-detials {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  position: relative;

}

.row form {
  background-color: #2B3A6A !important;
}

.general_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-img-size {
  width: 100%;
}

.nft-account {
  margin: 0px auto !important;
  transform: translateY(-120px) !important;
}

.fillter-buttons {
  justify-content: space-between !important;
}

.fillter-buttons {
  .card {
    margin-left: 13px;
  }
}

@media screen {
  @media (max-width: 1110px) {
    .fillter-buttons {
      max-width: 500px;
      display: flex;
      row-gap: 20px;
      justify-content: center;
    }
  }
}