p {
  color: #6d6d6d;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

.modal-name {
  color: #fff !important;
  font-size: 24px;
}

.metaplex-button {
  width: 65% !important;
  height: 60px !important;
  border-radius: 10px !important;
  font-weight: 'unset';
  background: linear-gradient(90.11deg, #851CEF -3.99%, #24DDAF 106.68%) !important;
  border: none !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;

}

.metaplex-button span {
  font-weight: 500 !important;
  font-size: 18px;
  color: white;
}