@import '_colors';

.banner {
  background-image: url('./banner2.svg');
  height:188px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .banner-title {
    text-align: center;
    width: 60%;

    p {
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;
      text-align: center;
      color: white;
    }

    .banner-button {
      margin-top: -10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      width:310px;
      height: 50px;
      border-radius: 8px;
    }
  }
}

section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #b480eb;
}
a:visited {
  color: #b480eb;
}
a:hover {
  color: #b480eb;
}
a:active {
  color: #b480eb;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: -16px;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}
