.allCollections {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
.collectionHeader{
    color: white;
    text-align: center;
    margin: 30px auto;
    width: 100%;
}
  .card-img-top{
      height: 50%;
  }
  img{
      object-fit: cover;
  }
  .card-body .card-text {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.017em;
  }

  .card-body {
    position: relative;
    background-color: #1f2331;
  }

  .card-body .user {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid #18a0fb;
    border-radius: 50%;
    width: 50px;
  }
  .card-container{
      max-width: 500px;
      width: auto;
      .below-heading-text{
          margin: 10px auto !important;
      }
  }
  .text-center{
    height: 100%;
  }
  .collectionCard{
    max-height: 400px;
  }
}
