.usd {
  display: flex !important;
  flex-direction: column-reverse;
  margin: 20px;
  color: #9F9F9F;
  font-size: '1.5rem';
  width: fit-content;


  @media (max-width: 600px) {

    margin: auto !important
  }
}