#auctionview-sec {
  margin: 40px 0px;
}

#auctionview-sec .card-text {
  color: #7b61ff;
  margin-bottom: 0;
  margin-top: 0px;
}

#auctionview-sec h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24.44px;
  line-height: 36px;
  letter-spacing: -0.017em;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
}

#auctionview-sec .sales-card {
  background: rgba(28, 33, 49, 0.6);
  border: 1px solid #888 !important;
  border-radius: 4px;
}

#auctionview-sec .sales-card .card-body .place-btn {
  background: #851cef;
  border-color: #851cef;
  mix-blend-mode: normal;
  border-radius: 6px;
}

#auctionview-sec .page-item .page-link {
  background: #282f3f;
  border-color: #282f3f;
  color: #ccc;
  padding: 12px 15px;
  font-size: 14px;
}

#auctionview-sec .page-item.active .page-link {
  background: #282f3f;
  border-color: #851cef !important;
  color: #851cef !important;
}

#auctionview-sec .dropdown .btn-secondary {
  background: #282f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 15px;
  color: #ccc;
  border-image-slice: 1 !important;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #851cef 0%, #0ee9a7 100%);
}

#auctionview-sec .btn-sales {
  background: #282f3f;
  border-color: #851cef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 15px;
  color: #ccc;
}

.blur-bg1 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  top: 0px;
  z-index: -1;
  background: #851cef;
  filter: blur(200px);
  right: -100px;
}

.blur-bg2 {
  position: absolute;
  width: 317.48px;
  height: 300px;
  bottom: 0px;
  background: #851cef;
  filter: blur(200px);
  z-index: -1;
  left: -100px;
}

.cubic-blur1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 150px;
  filter: blur(10px);
  z-index: -1;
  left: 0px;
}

.cubic-blur4 {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -100px;
  right: 100px;
  filter: blur(15px);
  z-index: -1;
}

.cubic-blur2 {
  width: 317.48px;
  height: 300px;
  left: -100px;
  filter: blur(20px);
  z-index: -1;
}

#auctionview-sec .card {
  background: #282f3f;
  border-image-slice: 1 !important;
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #851cef 0%, #0ee9a7 100%);
}

#auctionview-sec .card .wish-count {
  position: absolute;
  z-index: 999;
  top: 30px;
  right: 30px;
  color: #fff;
}

#auctionview-sec .page-item .page-link {
  background: #282f3f;
  border-color: #282f3f;
  color: #ccc;
  padding: 12px 15px;
  font-size: 14px;
}

#auctionview-sec .page-item.active .page-link {
  background: #282f3f;
  border-color: #851cef !important;
  color: #851cef !important;
}

#auctionview-sec h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24.44px;
  line-height: 36px;
  letter-spacing: -0.017em;
  color: #ccc;
  margin-top: 0px;
  margin-bottom: 20px;
}
#auctionview-sec {
  margin-bottom: 13%;
}

.auctionComponent {
  max-width: 940px !important;
  margin: 0 auto;
  color: white !important;
  width: 100% !important;
  -webkit-box-shadow: rgb(133 28 239 / 50%) 0px 5px 15px 0px;
  box-shadow: rgb(133 28 239 / 50%) 0px 5px 15px 0px;
  margin-top: 35px;
  border-radius: 10px;
  padding: 20px;
  h6 {
    color: white !important;
    opacity: 0.5 !important;
    font-weight: 600 !important;
  }
  h1,
  h2 {
    color: white !important;
    font-weight: 600 !important;
  }
  .auction-paragraph{
    margin-bottom: 20px;
  }
  .viewOn {
    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6px 10px;
      background: #212121;
      border-radius: 20px;
      margin: 0 5px;
      border-color: transparent;
      color: white;
      -webkit-box-shadow: rgb(133 28 239 / 50%) 0px 5px 15px 0px;
      box-shadow: rgb(133 28 239 / 50%) 0px 1px 3px 0px;
    }
    button:hover {
      color: #851cef;
      border-color: #851cef;
      background: transparent;
    }
  }
  .attributes {
    padding: 0 20px;
    .auction-sec {
      max-width: initial;
    }
    .auction-view {
      margin-bottom: 20px;
    }
    .ant-card-head-title {
      padding: 10px 0;
      color: white !important;
      margin-bottom: 10px;
    }
    .ant-card-body {
      border-radius: 0 0 5px 5px;
      border: 2px ridge #851cef;
      color: white !important;
      padding: 8px 12px;
    }
    .ant-card-head {
      border-radius: 5px 5px 0 0;
      border: 2px ridge #851cef;
      padding: 0 24px;
    }
    .ant-card-bordered {
      border: none;
      -webkit-box-shadow: #18a0fb 0px 1px 5px 0px;
      box-shadow: #18a0fb 0px 1px 5px 0px;
    }
  }
}
.ant-modal-centered {
  text-align: center;
  background-color: #0000008f;
  .ant-modal{
      max-width: 900px;
      background: #12151d;
      -webkit-box-shadow: rgb(133 28 239 / 50%) 0px 5px 15px 0px;
      box-shadow: rgb(133 28 239 / 50%) 0px 5px 15px 0px;
      margin-top: 35px;
      border-radius: 10px;
      margin-right: 16px;
  }
  .title{
    color: white;
  }
  button{
    font-weight: 600;
    font-size: 12.64px;
    background: #282f3f;
    border: 1.5px solid #851cef;
    border-radius: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &:hover{
      background-color: #851cef !important;
      border: none !important;
    }
  }
  p{
    margin: 0;
    a{
      color: #851cef;
    }
  }
}
.ant-image, .artwork-image, .stack-item{
  min-height: 200px !important;
  height: auto !important;
}
@media screen and (min-width: 1600px) {
  #auctionview-sec {
    margin-bottom: 16%;
  }
}
