#auction-sec .card {
  background: linear-gradient(180deg, rgba(133, 28, 239, 0.16) 0%, rgba(2, 183, 255, 0.2) 100%);
  border: 2px solid #a3a3a3;
  box-shadow: rgba(133, 28, 239, 0.5) 0px 5px 15px 0px;
  border-radius: 5px !important;
  height: 345px;
  width: 260px;
  display: flex !important;
  justify-content: center !important;
}

#auction-sec .card .wish-count {
  position: absolute;
  z-index: 999;
  top: 30px;
  right: 30px;
  color: #fff;
}

#auction-sec .card .card-body {
  position: relative;
  padding: 10px 0px;
}

#auction-sec .card .card-body .card-title {
  font-size: 18px;
  margin-top: 20px !important;
}

#auction-sec .card .card-body .card-text {
  color: #0ee9a7;
  padding-top: 5px;
  height: 46px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#auction-sec .card .card-body .btn-primary {
  position: absolute;
  bottom: -1px;
  height: 30px;
  min-width: 65%;
  font-size: 14px;
  background: #2D5469;
  border-color: #2D5469;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 5px;

  img {
    width: 25px;
    margin-right: 10px;
  }
}

#auction-sec .card .card-body .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  z-index: 999;
  top: 0%;
  transform: translate(-50%, -50%);
}

#auction-sec .card .card-body .btn-primary img {
  height: 25px;
  width: 27px;
  margin-right: 10px;
  padding: 2px;
}

.nft-img {
  width: 100% !important;
  height: 59% !important;
}